.images {
    background: linear-gradient(180deg, #141733 0%, #0f1128 100%);
    position: relative;
    text-align: center;
    padding: clamp(3rem, 6vw, 6rem) 10vw;
    z-index: 8;
}

.portrait {
    width: 14.7vw;
}

.landscape {
    width: 25vw;
}

.portrait, .landscape {
    margin: 1vw;
    box-shadow: 0 0 2rem;
    transition: transform ease 0.5s;
}

.portrait:hover, .landscape:hover {
    transform: scale(110%);
}