@media only screen and (min-width: 0) {
    .container {
        background-color: aliceblue;
        min-height: 100vh;
        overflow-x: hidden;
    }

    .hero {
        padding-top: 5vh;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;
    }

    .mainCaption {
        max-width: 40%;
    }

    .mainTitle {
        font-family: var(--HEADER_FONT_1);
        font-size: clamp(2rem, 3vw, 6rem);
        padding: clamp(1rem, 1vw, 2rem);
        color: var(--DARK_COLOR_1);
        font-weight: 400;
    }

    .hero .caption {
        font-family: var(--HEADER_FONT_1);
        padding: clamp(1rem, 1vw, 2rem);
        padding-top: 1rem;
        font-size: clamp(1rem, 1vw, 2rem);
        line-height: 2rem;
        max-width: 75%;
    }

    .avatar {
        width: 25vw;
    }

    .GitHubLink, .LinkedInLink {
        padding: 1rem;
        transition: opacity ease 0.5s;
    }

    .GitHubLink .GitHubLogo, .LinkedInLink .LinkedInLogo {
        width: max(2rem, 2vw);
    }

    .GitHubLink:hover {
        opacity: 70%;
    }

    .LinkedInLink {
        opacity: 82%;
    }

    .LinkedInLink:hover {
        opacity: 60%;
    }

    .socials {
        display: flex;
        align-items: center;
    }

    .sections {
        margin-top: -10vh;
    }

    #headerBold {
        font-weight: 1000;
    }

    #accent1 {
        color: lightskyblue;
    }

    #darkcolor2 {
        color: var(--DARK_COLOR_2);
    }

    #nowrap {
        text-wrap: nowrap;
    }
}

@media screen and (orientation: portrait) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .mainCaption {
        max-width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .avatar {
        width: min(50vw, 25rem);
    }
}