@media only screen and (min-width: 0) {
    .container {
        min-height: 100vh;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track:hover {
        box-shadow: inset 0 0 5px black;
    }

    ::-webkit-scrollbar-thumb {
        background-color: rgb(158, 158, 158);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(84, 84, 84);
    }

    .background {
        background-color: aliceblue;
        height: 100vh;
        width: 100vw;
        position: fixed;
        z-index: -2;
    }

    .hero {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;
        animation: fade-in 5s;
    }

    .scroll {
        position: absolute;
        bottom: 20vh;
        font-family: var(--HEADER_FONT_1);
        font-size: clamp(1rem, 1vw, 2rem);
        animation: scaleInterval 3s infinite;
        color: rgba(152, 152, 152, 0.717);
        pointer-events: none;
    }

    @keyframes scaleInterval {
        0% {
            transform: scale(90%);
        }
        50% {
            transform: scale(110%);
        }
        100% {
            transform: scale(90%);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .mainCaption {
        max-width: 40%;
    }

    .hero.about .mainCaption,
    .hero.projects .mainCaption,
    .hero.resume .mainCaption {
        max-width: 60%;
        margin-right: 6vw;
        margin-top: -5vh;
    }

    .mainTitle {
        font-family: var(--HEADER_FONT_1);
        font-size: clamp(2rem, 3vw, 6rem);
        padding: clamp(1rem, 1vw, 2rem);
        color: var(--DARK_COLOR_1);
        font-weight: 400;
    }

    .hero .caption {
        font-family: var(--HEADER_FONT_1);
        padding: clamp(1rem, 1vw, 2rem);
        padding-top: 1rem;
        font-size: clamp(1rem, 1vw, 2rem);
        line-height: 2rem;
        max-width: 75%;
    }

    .avatar {
        width: 25vw;
    }

    .GitHubLink, .LinkedInLink {
        padding: 1rem;
        transition: opacity ease 0.5s;
    }

    .GitHubLink .GitHubLogo, .LinkedInLink .LinkedInLogo {
        width: max(2rem, 2vw);
    }

    .GitHubLink:hover {
        opacity: 70%;
    }

    .LinkedInLink {
        opacity: 82%;
    }

    .LinkedInLink:hover {
        opacity: 60%;
    }

    .socials {
        display: flex;
        align-items: center;
    }

    .sections {
        margin-top: -10vh;
    }

    .homescreenProjects {
        background-color: rgb(46, 46, 46);
        text-align: center;
        padding: max(1.5rem, 2vw);
    }

    .homescreenProjects .header {
        color: white;
        font-family: var(--HEADER_FONT_1);
        font-size: clamp(2rem, 2.5vw, 5rem);
        font-weight: 400;
        margin-bottom: 7vh;
    }

    .projectDisplay {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .projectsLink {
        padding: clamp(0.5rem, 0.7vw, 2rem);
        border: 2px solid white;
        margin-top: 10vh;
        border-radius: 1rem;
        font-size: clamp(1.5rem, 1.5vw, 2rem);
        font-family: var(--HEAVY_FONT_1);
        text-decoration: none;
        color: white;
        box-shadow: 0 0 0.5rem gray;
        transition: all ease 0.5s;
        display: inline-block;
    }

    .projectsLink:hover,
    .projectsLink:focus {
        background-color: rgb(150, 150, 150);
        transform: scale(110%);
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem;
    }

    .footnoteLink {
        color: blue;
    }

    .footnoteLink:hover,
    .footnoteLink:focus {
        opacity: 70%;
    }

    .footnoteLink:active {
        color: red;
    }

    .projectBrowser {
        background-color: rgb(46, 46, 46);
        padding: 1vw 20vw 1vw 20vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 5vh;
    }

    .resumeDownload {
        padding: clamp(1rem, 1vw, 2rem);
        margin: clamp(0.5rem, 1vw, 2rem);
        border: 2px solid lightskyblue;
        border-radius: 1rem;
        font-size: clamp(1.5rem, 1.5vw, 3rem);
        font-family: var(--HEAVY_FONT_1);
        text-decoration: none;
        color: var(--DARK_COLOR_1);
        box-shadow: 0.1rem 0.1rem 0.5rem gray;
        transition: all ease 0.5s;
        display: inline-block;
        background-color: aliceblue;
        position: fixed;
        bottom: 0;
        z-index: 10;
        animation: scaleIntervalLess 2s infinite;
    }

    @keyframes scaleIntervalLess {
        0% {
            transform: scale(95%);
        }
        50% {
            transform: scale(105%);
        }
        100% {
            transform: scale(95%);
        }
    }

    .resumeDownload:hover,
    .resumeDownload:focus {
        background-color: rgb(225, 225, 225);
    }
    
    #headerBold {
        font-weight: 1000;
    }

    #accent1 {
        color: lightskyblue;
    }

    #darkcolor2 {
        color: var(--DARK_COLOR_2);
    }

    #nowrap {
        text-wrap: nowrap;
    }
    #centerHorizontal {
        display: flex;
        justify-content: center;
    }
}

@media screen and (orientation: portrait) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .mainCaption {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;
    }

    .hero.about .mainCaption,
    .hero.projects .mainCaption,
    .hero.resume .mainCaption {
        max-width: 100%;
        margin-right: 0;
        margin-top: 0;
    }

    .avatar {
        display: none;
    }
    .scroll {
        display: none;
    }
}