.hexagonContainer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 130vh;
    pointer-events: none;
    z-index: -1;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-left: min(calc(25vw - 225px), 0px);
}

.right {
    transform: scaleX(-1) scaleY(-1) translateY(25vh);
    margin-right: min(calc(25vw - 225px), 0px);
}

.hexagon1,
.hexagon2 {
    position: absolute;
    opacity: var(--OPACITY);
}

.hexagon1 {
    animation: spin 20s linear infinite;
}

.hexagon2 {
    animation: spin 10s linear infinite;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
