.flex {
    display: flex;
    justify-content: center;
}

.container {
    width: 55%;
}

.h2 {
    font-family: var(--HEADER_FONT_1);
    margin: clamp(1rem, 2vw, 4rem);
    margin-left: clamp(1.5rem, 1.5vw, 3rem);
    margin-top: clamp(8rem, 8vw, 16rem);
    color: var(--DARK_COLOR_1);
}

.h3 {
    font-family: var(--PARAGRAPH_FONT_1);
    margin: clamp(1rem, 1vw, 2rem);
    margin-left: clamp(1.5rem, 1.5vw, 3rem);
    font-weight: 500;
}

.p {
    font-family: var(--PARAGRAPH_FONT_1);
    margin: clamp(0.5rem, 0.5vw, 1rem);
    margin-left: clamp(1.5rem, 1.5vw, 3rem);
}

.ul {
    font-family: var(--PARAGRAPH_FONT_1);
    margin: clamp(0.5rem, 0.5vw, 1rem);
    margin-left: clamp(3rem, 3vw, 6rem);
}

.li {
    margin: clamp(0.5rem, 0.5vw, 1rem);
    margin-left: clamp(1.5rem, 1.5vw, 3rem);
}

@media screen and (orientation: portrait) {
    .container {
        width: 80%;
    }
}