.section {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
}

/* .text {
    max-width: 45%;
} */

#right {
    justify-content: space-evenly;
}

.title {
    font-family: var(--HEADER_FONT_1);
    font-size: clamp(2rem, 2.5vw, 5rem);
    color: var(--DARK_COLOR_1);
    font-weight: 400;
    position: relative;
    padding-bottom: 1rem;
}

.title::after {
    content: "";
    height: clamp(0.1rem, 0.5vw, 0.3rem);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    background-color: var(--ACCENT_COLOR_1);
    opacity: 1;
    z-index: 1;
}

.caption {
    font-family: var(--PARAGRAPH_FONT_1);
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: clamp(1rem, 1vw, 2rem);
    line-height: 2rem;
    max-width: 100%;
    font-weight: 300;
    color:rgb(39, 39, 39);
    white-space: pre-wrap;
}

.buttonLink {
    padding: clamp(0.5rem, 0.7vw, 2rem);
    margin: clamp(0.5rem, 1vw, 2rem);
    margin-left: 0;
    border: 2px solid var(--ACCENT_COLOR_1);
    border-radius: 1rem;
    font-size: clamp(1rem, 1vw, 2rem);
    font-family: var(--HEAVY_FONT_1);
    text-decoration: none;
    color: var(--DARK_COLOR_1);
    box-shadow: 0.1rem 0.1rem 0.5rem gray;
    transition: all ease 0.5s;
    display: inline-block;
    background-color: aliceblue;
}


.buttonLink:hover,
.buttonLink:focus {
    background-color: rgb(225, 225, 225);
    transform: scale(110%);
}

@media only screen and (orientation: portrait) {
    .section {
        flex-direction: column;
        text-align: center;
    }
    .figure {
        padding: 2rem;
    }
    .text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #right {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .title::after {
        content: "";
        height: clamp(0.1rem, 0.5vw, 0.3rem);
        position: absolute;
        bottom: 0;
        left: 35%;
        width: 30%;
        background-color: var(--ACCENT_COLOR_1);
        opacity: 1;
        z-index: 1;
    }
    .buttonLink {
        margin: clamp(0.5rem, 1vw, 2rem);
    }
}
